.formMovie {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.inputMovie {
  height: 20px;
  min-width: 250px;
  border-radius: 5px;
  margin-right: 10px;
}

.buttonMovie {
  background-color: rgb(160, 175, 171);
  border-radius: 5px;
  width: 80px;
}
